.slideshow{
	margin: 0 auto;
	width: 1020px;
	height: 500px;
	background: #778899;
	position: relative;
}
.slideshow .content{
	width: 100%;
	height: 100%;
}
.content img{
	width: 98%;
	height: 96%;
	margin-top: 1%;
	margin-left: 1%;
}
.slideshow ul{
	list-style-type: none;
}
.slideshow ul li{
	display: block;
	width: 80px;
	height: 80px;
	background: #778899;
	position: absolute;
}
.slideshow ul li.next{
	top:40%;
	left: 0;
	background-position: left 8px top 5px; 
	background-image: url('prev.png');
	background-size: 70px 70px;
	background-repeat: no-repeat;
}
.slideshow ul li.prev{
	top:40%;
	right: 0;
	background-position: right 7px top 5px;
	background-image: url('next.png');
	background-size: 70px 70px;
	background-repeat: no-repeat;
}
.slideshow ul li a{
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
}
